body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 2;
}
h1 {
    color: SlateGray;
    font-size: 18pt;
    margin: 0px;
}
label, input {
    display: block;
    float: left;
    margin: 5px 0px;
}
input {
    width: 200px;
    line-height: 2;
}
label {
    width: 125px;
    text-align: right;
    padding-right: 10px;
    margin-top: 2px;
}
.main {
    padding: 0px 10px;
}
.add-button {
    padding: 8px 12px;
}
.date-input {
    margin-right: 20px;
    width: 50px;
}
br {
    clear: left;
}
input.ng-valid {
    border: 1px solid green;
}
.tabulate label {
    font-size: 10pt;
    width: 50px;
    text-align: left;
}
.tabulate input {
    line-height: 1.5;
}
.tabulate input.ng-valid {
    background: aliceblue;
}
.tabulate {
    margin: 20px 0px;
}
.tabulate table {
    border: 1px solid slategray;
    font-size: 10pt;
    padding: 5px;
}
.tabulate thead {
    font-weight: bold;
    text-transform: capitalize;
}
.sort {
    text-transform: capitalize;
}
.tabulate td {
    padding: 2px 10px;
}

.desc {
    border-top: 1px dotted slategrey;
}
.asc {
    border-bottom: 1px dotted slategrey;
}
.even {
    color: darkslategray;
}
